:root {
    --main-bg-color: #0d6efd;
    --main-text-color: #0d6efd;
    --second-text-color: #000000;
    --second-bg-color: #0dcaf0;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 13rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

    .list-group-item:hover {
        color: #0d6efd;
    }

    .list-group-item.active {
        background-color: transparent;
        color: var(--main-text-color);
        font-weight: bold;
        border: none;
    }

.card {
    border: solid #0d6efd;
}

.info, .product {
    border: solid 1px #0d6efd;
}


#navbarDropdown {
    background: none;
    border: none;
    color: #0d6efd;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #0dcaf0;
}

@media ( min-width : 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -13rem;
    }

    .image-product {
        width: 50px;
    }

    .content {
        height: 85vh;
        overflow-x: hidden;
    }
}

@media ( max-width : 768px) {
    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    .name-product {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
    }

    .image-product {
        width: 40px;
    }

    .content {
        height: 95vh;
        overflow-x: hidden;
    }
}
